### IntelliJ IDEA ###
out/
!Structural_Decorator/main/**/out/
!Structural_Decorator/test/**/out/


# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws
shelf/
workspace.xml

# Build-Output-Ordner (falls vorhanden)
out/
build/
target/

# Log-Dateien
*.log

# Temporäre Dateien
*~
*.tmp
/.idea/


.idea/workspace.xml

.idea/git_toolbox_blame.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/tasks.xml
.idea/shelf/
.idea/misc.xml # Kann manchmal geteilt werden, manchmal benutzerspezifisch
               # Teste, ob es ohne misc.xml geht oder ob es benötigt wird.
