### IntelliJ IDEA ###
out/
!Structural_Decorator/main/**/out/
!Structural_Decorator/test/**/out/


# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws
shelf/
workspace.xml

# Build-Output-Ordner (falls vorhanden)
out/
build/
target/

# Log-Dateien
*.log

# Temporäre Dateien
*~
*.tmp
/.idea/
